@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

svg {
  display: none;
}

body {
	width: 100wh;
	height: 90vh;
	color: #000000;
  font-weight: bold;
	background: linear-gradient(-45deg, #77dd77, #fdfd96, #84b6f4, #fdcae1, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
  overflow-x: hidden;
  overflow-y: hidden;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}




* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  position: absolute;
  box-sizing: content-box;
  width: 370px;
  height: 420px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  position: absolute;
  padding: 10px;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
label,
option,
select,
.swipe-wording {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.user-profile {
  width: 370px;
}

.seeking {
  text-align: center;
  width: 370px;
  height: 30px;
}

.profile {
  width: 300px;
  height: 250px;
  border: 2px solid lightgrey;
  transition: 0.2s ease;
}

.profile-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.profile-wording {
  height: 50px;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 10px 0;
  user-select: none;
}

.profile-heart {
  font-size: 60px;
  color: #ff4dc4;
  -webkit-filter: url(#pink);
  filter: url(#pink);
  opacity: 0;
  transform: rotate(20deg);
  animation: heartbeat 0.6s infinite;
  animation-play-state: paused; /* started with javascript */
}

.profile-cross {
  font-size: 67px;
  font-family: 'Open Sans', sans-serif;
  opacity: 0;
  transform: rotate(-20deg);
  animation: jiggle 0.6s infinite;
  animation-play-state: paused;
  padding: 0 15px;
}

.profile-buttons {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photos {
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-counter {
  height: 25px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.stack {
  position: absolute;
  top: 148px; /* need to place this exactly on top of profile */
  left: 35px;
  width: 300px;
  height: 250px;
  background: white;
  border: 2px solid lightgrey;
  transition: 0.2s ease;
  z-index: -1;
  /* the stacked cards box shadow */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qmark {
  font-size: 100px;
  user-select: none;
  opacity: 0;
  padding-bottom: 10px;
}

.pic {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  font-size: 100px;
  user-select: none;
}

#hearttext {
  color: #ff0000;
  -webkit-filter: url(#pink);
  filter: url(#pink);
}

.button {
  width: 155px;
  height: 50px;
  border: 3px solid #ff0000;
  border-radius: 50px 50px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 10px;
  user-select: none;
  cursor: pointer;
  display: inline-block;
}

/* apply pink filter to button so heart emoji is pink */
#like {
  color: #ff0000;
  -webkit-filter: url(#pink);
  filter: url(#pink);
}

#pass {
  border: 3px solid black;
  color: black;
  margin-right: 20px;
}

.swipe-wording {
  text-align: center;
  font-style: italic;
}

.button:active {
  transform: translateY(4px);
}

#like:hover {
  background: #ff0000ee;
  color: rgb(255, 255, 255);
  -webkit-filter: none;
  filter: none;
}

#pass:hover {
  background: black;
  color: white;
}

@keyframes heartbeat {
  from {
    transform: rotate(20deg) scale(1);
  }
  to {
    transform: rotate(20deg) scale(1.2);
  }
}

@keyframes jiggle {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(-25deg);
  }
}

button {
  margin: 20px;
}

.custom-btn {
  width: 120px;
  height: 60px;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-11 {
  border: none;
  background: rgb(251,33,117);
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    color: hsl(246, 100%, 50%);
    font-weight: bold;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.btn-8 {
  background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #c797eb;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}

